@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
    font-family: 'Roboto Condensed';
}

div.remark-slides-area {
    background: white url(../images/djpd-bg.jpg) no-repeat;
}

div.remark-slide {
    opacity: 1.0;
}

h1, h2, h3 {
}

.remark-slide-content {
    font-size: 28px;
}
      
.remark-code, .remark-inline-code {
}
