/*
 * @import 'meetmagento.css';
 */

body {
    font-family: Arial;
    font-size: 28pt;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal ul,
.reveal p {
    text-align: left;
    line-height: 140%;
}

.reveal h1 {
    font-size: 120%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main .reveal h1 {
    font-size: 240%;
}

.reveal h2 {
    font-size: 130%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #555;
}

.reveal h3 {
    font-size: 110%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #555;
}

.reveal ul span.label {
    font-weight: bold;
}

.reval ul span.value {
    font-size: 80%;
}