/*
 * @import 'meetmagento.css';
 */

body {
    font-family: "Roboto Condensed", Arial;
    font-size: 150%;
}

.reveal .backgrounds .slide-background {
    background-image: url("/images/magetitans-uk/background-main.png");
    background-position: unset;
    background-size: cover;
}

.divider .reveal .backgrounds .slide-background {
    background-color: #eee;
}

.reveal {
    padding-left: 100px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal ul,
.reveal pre,
.reveal p {
    color: black;
    text-align: left;
    line-height: 140%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reveal h1 {
    font-size: 160%;
    font-weight: bold;
}

.reveal h2 {
    font-size: 130%;
    font-weight: bold;
}

.reveal h3 {
    font-size: 110%;
    color: #8f8f8f;
}

.reveal ul {
    margin-left: 30px;
}

.reveal ul span.label {
    font-weight: bold;
}

.reveal ul span.value {
    font-size: 80%;
}

.reveal pre {
    background-color: #f4efec;
    padding: 10px;
    font-size: 90%;
}

.reveal code {
    font-family: courier, sans-serif;
    font-size: 90%;
}

.reveal li > code {
    background-color: #f4f2f0;
}

.reveal div.heading {
    text-align: center;
    padding: 30px;
}

.reveal div.heading img {
    max-width: 20%;
}

.main body {
    background-color: black;
    color: white;
}

.main .reveal {
    margin: auto;
    text-align: center;
}

.main .reveal section {
    top: 40%;
}

.main .reveal h1 {
    font-size: 240%;
}

.main .reveal h1,
.main .reveal h2,
.main .reveal h3,
.main .reveal h4,
.main .reveal ul,
.main .reveal li {
    color: white;
}

.dark .reveal h1,
.dark .reveal h2,
.dark .reveal h3,
.dark .reveal h4,
.dark .reveal ul,
.dark .reveal li {
    color: white;
}

.center .reveal h1,
.center .reveal h2,
.center .reveal h3,
.center .reveal h4 {
    text-align: center;

}

.speaker .reveal section {
    top: 20%;
}

.speaker .reveal h1,
.speaker .reveal h2,
.speaker  .reveal h3,
.speaker .reveal ul,
.speaker .reveal pre,
.speaker .reveal p {
    color: black;
}

.divider-center .reveal section {
    top: 30%;
}

.divider .reveal h1,
.divider .reveal h2,
.divider .reveal h3,
.divider .reveal h4 {
    color: white;
}

.divider-bold .reveal section h1 {
    font-weight: 900;
    font-size: 200%;
}

.divider .reveal h1,
.divider .reveal h2 {
    text-align: center;
    text-shadow: 1px 1px 10px #111;
}

.divider .reveal h3,
.divider .reveal h4 {
    text-align: center;
}

.blank .reveal .backgrounds .slide-background {
    background: none;
    background-color: black;
}

table {
    width: 100%;
}

table td {
    padding: 10px 60px 60px 0px !important
}

table td img {
    width: 100%;
}

.reveal pre {
    white-space: pre-wrap;
}

.main .slides h1 {
    font-family: "Kaushan Script";
    color: #f3bf67;
}

.main .slides h4 {
    font-style: italic;
    text-align: left;
    color: #f3ceaf;
}

.reveal ul ul {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    font-size: 80%;
}

.quiz .reveal .backgrounds .slide-background {
    background-image: none;
}

.quiz h1 {
    font-family: "Monoton";
    font-weight: lighter;
    text-align: center;
    word-spacing: 0.4em;
}

.quiz h2 {
    font-family: "Kaushan Script";
    text-align: center;
    color: #d8593a;
}

.bordered h1, .bordered h2 {
    text-shadow: 0 0 3px #FF0000;
    color: white;
}