/*
 * @import 'meetmagento.css';
 */
@import 'reveal/include-generic.css';
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

body {
    font-family: "Roboto Condensed", Arial;
    font-size: 150%;
}

.main .slides h1 {
    font-family: 'Black Ops One', cursive;
}

.garden .slides h1 {
    font-family: "Kaushan Script";
}

.main .reveal .backgrounds .slide-background {
    background: black;
}

.main .reveal pre {
    background-color: black;
}

.desert .reveal .backgrounds .slide-background {
    background: white;
}

.desert .reveal .backgrounds .slide-background .slide-background-content {
    background-image: url("/images/pwa/background-desert.png");
}

.garden .reveal .backgrounds .slide-background {
    background-image: linear-gradient(#c1f8ff, #6599ff);
}

.garden .reveal .backgrounds .slide-background .slide-background-content {
    background-image: url("/images/pwa/background-garden.png");
}

.garden .reveal h1 {
    font-weight: bolder;
    font-size: 600%;
    text-shadow: 0.07em 0 10px #2d8f2d, 0 0.07em 10px #2d8f2d, -0.07em 0 10px #2d8f2d, 0 -0.07em 10px #2d8f2d;
}

.garden .reveal h3 {
    font-weight: bolder;
    font-size: 400%;
    text-shadow: -2px 0 2px black, 0 2px 2px black, 2px 0 2px black, 0 -2px 2px black;
}

.garden2 .reveal .backgrounds .slide-background {
    background-image: linear-gradient(#c1f8ff, #6599ff);
}

.garden2 .reveal .backgrounds .slide-background .slide-background-content {
    background-image: url("/images/pwa/background-garden2.png");
}

.reveal li > code {
    background-color: #f4f2f0;
}

.main .reveal h1,
.main .reveal h2,
.main .reveal h3,
.main .reveal h4,
.main .reveal ul,
.main .reveal li {
    color: white;
}

.blank .reveal .backgrounds .slide-background {
    background: none;
    background-color: black;
}

.main .slides h1 {
    font-family: "Kaushan Script";
}

.main .slides h4 {
    font-style: italic;
    text-align: left;
    color: #f3ceaf;
}

.reveal ul ul {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    font-size: 80%;
}

.quiz .reveal .backgrounds .slide-background {
    background-image: none;
}

.quiz h1 {
    font-family: "Monoton";
    font-weight: lighter;
    text-align: center;
    word-spacing: 0.4em;
}

.quiz h2 {
    font-family: "Kaushan Script";
    text-align: center;
    color: #d8593a;
}

.bordered h1, .bordered h2 {
    text-shadow: 0 0 3px #FF0000;
    color: white;
}