/*
 * @import 'meetmagento.css';
 */
@import 'reveal/include-generic.css';
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');


body {
    font-family: "Roboto Condensed", Arial;
    font-size: 180%;
}

.main .reveal h1 {
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 220%;
}

.main .reveal .backgrounds .slide-background {
    background: black;
}

.main .reveal pre {
    background-color: black;
}

.desert .reveal .backgrounds .slide-background {
    background: white;
}

.dirtyharry .reveal .backgrounds .slide-background .slide-background-content {
    background-image: url("/images/pwa/background-skyline.jpg");
}

.desert .reveal .backgrounds .slide-background .slide-background-content {
    background-image: url("/images/pwa/background-desert.png");
}

.desert2 .reveal .backgrounds .slide-background .slide-background-content {
    background-image: url("/images/pwa/background-apocalypse.png ");
}

.desert2 .reveal h1 {
    font-size: 300%;
    text-shadow: 0.07em 0 10px #020202, 0 0.07em 10px #737373, -0.07em 0 10px #020202, 0 -0.07em 10px #737373;
}

.desert2 .reveal h3 {
    font-size: 190%;
    text-shadow: 0.07em 0 10px #020202, 0 0.07em 10px #737373, -0.07em 0 10px #020202, 0 -0.07em 10px #737373;
}

.garden .reveal .backgrounds .slide-background,
.garden2 .reveal .backgrounds .slide-background,
.garden3 .reveal .backgrounds .slide-background,
.mountains .reveal .backgrounds .slide-background,
.city .reveal .backgrounds .slide-background {
    background-image: linear-gradient(#c1f8ff, #6599ff);
}

.garden .reveal .backgrounds .slide-background .slide-background-content {
    background-image: url("/images/pwa/background-skyline2.jpg");
}

.garden2 .reveal .backgrounds .slide-background {
    background-image: linear-gradient(#c1f8ff, #6599ff);
}

.garden2 .reveal .backgrounds .slide-background .slide-background-content {
    background-image: url("/images/pwa/background-timesquare.png");
}

.garden3 .reveal .backgrounds .slide-background {
    background-image: linear-gradient(#c1f8ff, #6599ff);
}

.garden3 .reveal .backgrounds .slide-background .slide-background-content {
    background-image: url("/images/pwa/background-timesquare.png");
}

.city .reveal .backgrounds .slide-background .slide-background-content {
    background-image: url("/images/pwa/background-city.png");
}

.mountains .reveal .backgrounds .slide-background .slide-background-content {
    background-image: url("/images/pwa/background-mountains1.jpg");
}

.garden .reveal h1,
.garden2 .reveal h1,
.garden3 .reveal h1,
.city .reveal h1,
.mountains .reveal h1 {
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 400%;
}

.garden .reveal h3,
.garden2 .reveal h3,
.garden3 .reveal h3,
.city .reveal h3,
.mountains .reveal h3 {
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 200%;
}


.reveal li > code {
    background-color: #f4f2f0;
}

.main .reveal h1,
.main .reveal h2,
.main .reveal h3,
.main .reveal h4,
.main .reveal ul,
.main .reveal li {
    color: white;
}

.blank .reveal .backgrounds .slide-background {
    background: none;
    background-color: black;
}

.main .slides h4 {
    font-style: italic;
    text-align: left;
}

.reveal ul ul {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    font-size: 80%;
}

.bordered h1, .bordered h2 {
    text-shadow: 0 0 3px #FF0000;
    color: white;
}