@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
    font-family: 'Raleway', sans-serif;
}

div.remark-slides-area {
    background: #ccc -webkit-gradient(linear, 100% 100%, 0% 100%, from(#fff), to(#ccc));
    /*background: #EE817F -webkit-gradient(linear, 100% 100%, 0% 100%, from(#6c0034), to(#ee817f));*/
}

div.remark-slide-container {
    opacity: 1.0;
    /*background-image: url(../images/yireo-bg.png);*/
    /*background-position: -100px -300px;*/
}

div.remark-slide {
    opacity: 1.0;
}

h3 {
    font-weight: 300;
    color: #555;
}

.remark-slide-content {
    font-size: 28px;
    padding: 1em 2em 1em 2em;
}
      
.remark-slide-content.orange {
    background-color: #ff5410;
    color: white;
}

.remark-slide-content.orange h1,
.remark-slide-content.orange h2,
.remark-slide-content.orange h3,
.remark-slide-content.orange h4 {
    color: white;
}


.remark-slide-content.world h2 {
    color: #ff5410;
}

.remark-slide-content.keepasecret h1 {
    color: #ff5410;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
    font-size: 250%;
}

.remark-slide-content.bgimage {
    background-color: transparent;
}

.remark-slide-content.bgimage:before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    z-index: -2;
    background-color: white;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.remark-slide-content.world:before {
    opacity: .3; 
    background-image: url(../images/mm_background_world.png); 
}

.remark-slide-content.keepasecret:before {
    background-image: url(../images/keep-a-secret.jpg); 
}

.remark-slide-content.orange .slide-footer,
.remark-slide-content.orange .slide-heading {
    color: white;
}

.remark-code, .remark-inline-code {
}

.remark-slide-number {
    bottom: 20px;
    right: 15px;
    padding: 5px;
    font-size: 80%;
    font-style: italic;
}

code {
    background-color: #d2e8f8;
}

.remark-slide-content.orange code {
    background-color: #ff855f;
}

li {
    line-height: 190%;
}

li li {
    font-size: 80%;
    color: #333;
}

div.slide-heading {
    display: none;
}

div.slide-footer {
    background-color: #ff5410;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    font-size: 60%;
    padding: 15px;
    color: white;
    font-size: 70%;
}

div.slide-footer span {
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: #e36a7a;
}

div.remark-slide-number {
    display: none;
}

img.img-responsive {
    max-width: 100%;
}

.remark-slide-content h1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

code {
    word-break: break-word;
}

.remark-code {
    font-size: 68%;
}

.hljs-googlecode .hljs {
    background-color: #eaf4ff;
}

h1.magetestfest {
    font-family: 'Bowlby One';
    text-transform: uppercase;
}

h1.magetestfest span {
    display: block;
    font-size: 200%;
    line-height: 90%;
    color: white;
    text-shadow: 2px 2px #222;
}
