@import url(https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro);

body {
    font-family: 'Source Sans Pro', sans-serif;
}

div.remark-slides-area {
    background: white url(../images/mug073-bg.png) no-repeat;
}

div.remark-slide {
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

.remark-slide-content {
    font-size: 160%;
    line-height: 150%;
}
      
.remark-code, .remark-inline-code {
    background-color: #fde0a7;
    font-size: 20px;
    word-break: break-all;
}

.hljs-googlecode .hljs {
    font-size: 80%;
    line-height: 140%;
    background-color: #fde9c1 !important;
}
