div.container-heading {
    padding-top: 20px;
    height: 120px;
    border-bottom: 3px solid #ccc;
    margin-bottom: 25px;
}

div.advertizement {
    float: right;
    width: 40%;
    text-align: center;
}

div.advertizement img {
    margin-left: 40px;
}

div.advertizement p {
    text-transform: uppercase;
    font-size: 90%;
}

img {
    padding-right: 40px;
}

h1 {
    padding-top: 20px;
    font-size: 300%;
}

h3 {
    margin-top: 0;
}
