@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(http://fonts.gstatic.com/s/opensans/v26/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}
html.extdn body {
  font-family: 'Open Sans', sans-serif;
}
html.extdn div.remark-slides-area {
  background: #ccc -webkit-gradient(linear, 100% 100%, 0% 100%, from(#fff), to(#ccc));
  /*background: #EE817F -webkit-gradient(linear, 100% 100%, 0% 100%, from(#6c0034), to(#ee817f));*/
}
html.extdn div.remark-slide-container {
  opacity: 1;
  background-image: url(../images/yireo-bg.png);
  background-position: -100px -300px;
}
html.extdn div.remark-slide {
  opacity: 1;
}
html.extdn h3 {
  font-weight: 300;
  color: #555;
}
html.extdn .remark-slide-content {
  font-size: 28px;
  padding: 1em 2em 1em 2em;
}
html.extdn .remark-slide-number {
  bottom: 20px;
  right: 15px;
  padding: 5px;
  font-size: 80%;
  font-style: italic;
}
html.extdn code {
  background-color: #d2e8f8;
}
html.extdn li {
  line-height: 190%;
}
html.extdn li li {
  font-size: 80%;
  color: #333;
}
html.extdn div.slide-heading {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 60%;
  color: #aaa;
  font-style: italic;
}
html.extdn div.slide-footer {
  border-top: solid 1px #ccc;
  position: absolute;
  bottom: 25px;
  left: 20px;
  right: 20px;
  min-height: 40px;
  font-size: 60%;
  color: #aaa;
  text-align: center;
  background: transparent url(../images/extdn-logo-40.png) no-repeat 0 0;
}
html.extdn div.slide-footer span {
  padding-left: 10px;
}
html.extdn a {
  text-decoration: none;
  color: #e36a7a;
}
html.extdn div.remark-slide-number {
  /*display: none;*/
}
html.extdn img.img-responsive {
  max-width: 100%;
}
html.extdn .remark-slide-content h1 {
  margin-top: 1%;
  margin-bottom: 1%;
}
html.extdn code {
  word-break: break-word;
}
html.extdn .remark-code {
  font-size: 68%;
}
html.extdn .hljs-googlecode .hljs {
  background-color: #eaf4ff;
}
