.magex19 body {
  font-family: "Roboto Condensed", Arial;
  font-size: 150%;
}
.magex19 .divider .reveal .backgrounds .slide-background {
  background-color: #eee;
}
.magex19 .reveal {
  padding-left: 100px;
}
.magex19 .middle .reveal .slides {
  display: flex;
  align-items: center;
  justify-content: center;
}
.magex19 .reveal h1,
.magex19 .reveal h2,
.magex19 .reveal h3,
.magex19 .reveal ul,
.magex19 .reveal pre,
.magex19 .reveal p {
  text-align: left;
  line-height: 140%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.magex19 .reveal h1 {
  font-size: 160%;
  font-weight: bold;
}
.magex19 .reveal h2 {
  font-size: 130%;
  font-weight: bold;
}
.magex19 .reveal h3 {
  font-size: 110%;
  color: #8f8f8f;
}
.magex19 .reveal ul {
  margin-left: 30px;
}
.magex19 .reveal ul span.label {
  font-weight: bold;
}
.magex19 .reveal ul span.value {
  font-size: 80%;
}
.magex19 .reveal pre {
  background-color: #f4efec;
  padding: 10px;
  font-size: 90%;
}
.magex19 .reveal code {
  font-family: courier, sans-serif;
  font-size: 90%;
}
.magex19 .reveal li > code {
  background-color: #f4f2f0;
}
.magex19 .reveal div.heading {
  text-align: center;
  padding: 30px;
}
.magex19 .reveal div.heading img {
  max-width: 20%;
}
.magex19 .main body {
  background-color: black;
  color: white;
}
.magex19 .main .reveal {
  margin: auto;
  text-align: center;
}
.magex19 .main .reveal section {
  top: 40%;
}
.magex19 .main .reveal h1 {
  font-size: 240%;
}
.magex19 .main .reveal h1,
.magex19 .main .reveal h2,
.magex19 .main .reveal h3,
.magex19 .main .reveal h4,
.magex19 .main .reveal ul,
.magex19 .main .reveal li {
  color: white;
}
.magex19 .light .reveal .backgrounds .slide-background {
  background-image: none;
  background-color: white;
}
.magex19 .dark .reveal .backgrounds .slide-background {
  background-image: none;
  background-color: black;
}
.magex19 .dark .reveal h1,
.magex19 .dark .reveal h2,
.magex19 .dark .reveal h3,
.magex19 .dark .reveal h4,
.magex19 .dark .reveal ul,
.magex19 .dark .reveal li {
  color: white;
}
.magex19 .dark .reveal code {
  background-color: #503417;
}
.magex19 .center .reveal h1,
.magex19 .center .reveal h2,
.magex19 .center .reveal h3,
.magex19 .center .reveal h4 {
  text-align: center;
}
.magex19 .speaker .reveal section {
  top: 20%;
}
.magex19 .speaker .reveal h1,
.magex19 .speaker .reveal h2,
.magex19 .speaker .reveal h3,
.magex19 .speaker .reveal ul,
.magex19 .speaker .reveal pre,
.magex19 .speaker .reveal p {
  color: black;
}
.magex19 .divider-center .reveal section {
  top: 30%;
}
.magex19 .divider .reveal h1,
.magex19 .divider .reveal h2,
.magex19 .divider .reveal h3,
.magex19 .divider .reveal h4 {
  color: white;
}
.magex19 .divider-bold .reveal section h1 {
  font-weight: 900;
  font-size: 200%;
}
.magex19 .divider .reveal h1,
.magex19 .divider .reveal h2 {
  text-align: center;
  text-shadow: 1px 1px 10px #111;
}
.magex19 .divider .reveal h3,
.magex19 .divider .reveal h4 {
  text-align: center;
}
.magex19 .blank .reveal .backgrounds .slide-background {
  background: none;
  background-color: black;
}
.magex19 table {
  width: 100%;
}
.magex19 table td {
  padding: 10px 60px 60px 0px !important;
}
.magex19 table td img {
  width: 100%;
}
.magex19 .reveal pre {
  white-space: pre-wrap;
}
.magex19 .main .slides h1 {
  font-family: "Kaushan Script";
  color: #f3bf67;
}
.magex19 .main .slides h4 {
  font-style: italic;
  text-align: left;
  color: #f3ceaf;
}
.magex19 .reveal ul ul {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  font-size: 80%;
}
.magex19 .bordered h1,
.magex19 .bordered h2 {
  text-shadow: 0 0 3px #FF0000;
  color: white;
}
