/*
 * @import 'meetmagento.css';
 */
html.mageconf body {
  font-family: Arial;
  font-size: 150%;
}
html.mageconf .reveal .backgrounds .slide-background {
  background-image: url("/images/mageconf/bg-main1.png");
  background-position: unset;
  background-size: cover;
}
html.mageconf .divider .reveal .backgrounds .slide-background {
  background-image: url("/images/mageconf/bg-divider.png");
}
html.mageconf .reveal {
  padding-left: 100px;
}
html.mageconf .reveal h1,
html.mageconf .reveal h2,
html.mageconf .reveal h3,
html.mageconf .reveal ul,
html.mageconf .reveal pre,
html.mageconf .reveal p {
  text-align: left;
  line-height: 140%;
  margin-top: 20px;
  margin-bottom: 20px;
}
html.mageconf .reveal h1 {
  font-size: 160%;
}
html.mageconf .reveal h2 {
  font-size: 130%;
  color: #222222;
}
html.mageconf .reveal h3 {
  font-size: 110%;
  color: #3e3e3e;
}
html.mageconf .reveal ul {
  margin-left: 30px;
}
html.mageconf .reveal ul span.label {
  font-weight: bold;
}
html.mageconf .reveal ul span.value {
  font-size: 80%;
}
html.mageconf .reveal pre {
  background-color: #f4efec;
  padding: 10px;
  font-size: 90%;
}
html.mageconf .reveal code {
  font-family: courier, sans-serif;
  font-size: 90%;
}
html.mageconf .reveal li > code {
  background-color: #f4f2f0;
}
html.mageconf .main .reveal {
  margin: auto;
  text-align: center;
}
html.mageconf .main .reveal section {
  top: 40%;
}
html.mageconf .main .reveal h1 {
  font-size: 240%;
}
html.mageconf .center .reveal h1,
html.mageconf .center .reveal h2,
html.mageconf .center .reveal h3,
html.mageconf .center .reveal h4 {
  text-align: center;
}
html.mageconf .speaker .reveal section {
  top: 20%;
}
html.mageconf .divider .reveal section {
  top: 30%;
}
html.mageconf .divider .reveal h1,
html.mageconf .divider .reveal h2 {
  text-align: center;
  text-transform: uppercase;
}
html.mageconf .divider .reveal h3,
html.mageconf .divider .reveal h4 {
  text-align: center;
}
