html.mm19pl body {
  font-family: "Roboto Condensed", Arial;
  font-size: 180%;
}
html.mm19pl.main .reveal h1 {
  font-family: 'Handlee', cursive;
  text-transform: uppercase;
  text-shadow: 0 0 10px black;
  font-weight: 400;
  font-size: 220%;
}
html.mm19pl.main .reveal .backgrounds .slide-background {
  background: black;
}
html.mm19pl.main .reveal pre {
  background-color: black;
}
html.mm19pl.reveal li > code {
  background-color: #f4f2f0;
}
html.mm19pl.main .reveal h1,
html.mm19pl.main .reveal h2,
html.mm19pl.main .reveal h3,
html.mm19pl.main .reveal h4,
html.mm19pl.main .reveal ul,
html.mm19pl.main .reveal li,
html.mm19pl.main .footer {
  color: white;
}
html.mm19pl.blank .reveal .backgrounds .slide-background {
  background: none;
  background-color: black;
}
html.mm19pl.main .slides h4 {
  font-style: italic;
  text-align: left;
}
html.mm19pl .reveal ul ul {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  font-size: 80%;
}
html.mm19pl .bordered h1,
html.mm19pl .bordered h2 {
  text-shadow: 0 0 3px #FF0000;
  color: white;
}
