@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Protest+Guerrilla&display=swap');

html.m2lovehate {
  body {
    font-family: 'Open Sans';
  }

  h1, h2, h3 {
    font-family: 'Open Sans';
  }

  &.middle .reveal h1 {
    margin-top: 200px;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ff5eb4;
    font-size: 400% !important;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px white;
  }

  &.middle .reveal h2 {
    font-size: 300% !important;
    color: pink;
    font-family: "Courgette", cursive;
  }
}