.reveal .backgrounds .slide-background {
    background-position: unset;
    background-size: cover;
}

.divider .reveal .backgrounds .slide-background {
    background-color: #eee;
}

.reveal {
    margin: auto;
    text-align: center;
    padding-left: 100px;
}

.reveal h1 {
    font-size: 160%;
    font-weight: bold;
}

.reveal h2 {
    font-size: 130%;
    font-weight: bold;
}

.reveal h3 {
    font-size: 110%;
}

.reveal ul {
    margin-left: 30px;
}

.reveal ul span.label {
    font-weight: bold;
}

.reveal ul span.value {
    font-size: 80%;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal ul,
.reveal pre,
.reveal p {
    text-align: left;
    line-height: 140%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reveal pre {
    padding: 10px;
    font-size: 90%;
}

.reveal code {
    font-family: courier, sans-serif;
    font-size: 90%;
}

.reveal div.heading {
    text-align: center;
    padding: 30px;
}

.reveal div.heading img {
    max-width: 20%;
}

.main .reveal section {
    top: 40%;
}

.main .reveal h1 {
    font-size: 240%;
}

.dark .reveal h1,
.dark .reveal h2,
.dark .reveal h3,
.dark .reveal h4,
.dark .reveal div,
.dark .reveal p,
.dark .reveal ul,
.dark .reveal li {
    color: white;
}


